.container {
  background: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 20px;
}

form {
  display: flex;
  margin: 20px 0 0 0;
  line-height: 20px;
}

#search-form-input {
  background-color: RGB(226 218 231);
  border: solid 1px RGB(226 218 231);
  border-radius: 30px;
  font-size: 17px;
  height: 40px;
  padding: 15px 18px;
  width: 75%;
}

#search-form-button {
  background-color: RGB(197 25 177);
  margin-left: 3px;
  color: #fff;
  border: none;
  border-radius: 10px;
  height: 40px;
  padding: 13px 15px;
  width: 13%;
}

.Weather h1 {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: oblique;
  font-size: x large;

}

.Weather li {
 list-style: none;
}

.Weather ul {
  padding: 0;
  margin: 0;
}

.temperature {
  font-size: 56px;
}

.unit {
  font-size: 16px; 
  position: relative;
  top: -32px;
  margin-left: 5px;
  margin-top: 8px;
  line-height: -2;
}