.container {
  background: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 20px;
}

form {
  display: flex;
  margin: 20px 0 0 0;
  line-height: 20px;
}

#search-form-input {
  background-color: RGB(226 218 231);
  border: solid 1px RGB(226 218 231);
  border-radius: 30px;
  font-size: 17px;
  height: 40px;
  padding: 15px 18px;
  width: 75%;
}

#search-form-button {
  background-color: RGB(197 25 177);
  margin-left: 3px;
  color: #fff;
  border: none;
  border-radius: 10px;
  height: 40px;
  padding: 13px 15px;
  width: 13%;
}

.Weather h1 {
  font-family: "Roboto", serif;
  font-weight: 200;
  font-style: oblique;
  font-weight: 600;
  margin-top: 15px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  padding-left: 0! important;
}

.temperature {
  font-size: 58px;
  font-weight: bold;
}

.unit {
  font-size: 48px;
}

.weather-data {
  font-size: 16px;
  line-height: 20px;
}

li strong {
  color: rebeccapurple;
}

.weather-data-list {
  text-align: start;
  font-size: 16px;
  line-height: 20px;
}

.temperature {
  display: flex;
  align-items: center;
}

h1 {
  margin-left: 24px;
  margin-bottom: 0;
  text-align: left;
}

ul {
  text-align: left;
  margin-left: 1.7rem;
}

.weather-app-temperature-container {
  display: flex;
  justify-content: end;
  justify-items: space-between;
}